<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body style="background: url('https://w-dog.ru/wallpapers/7/8/296807849523191/the-elder-scrolls-v-bethesda-softworks-skyrim-rolevaya-igra.jpg') no-repeat center;
background-size: cover;
height: 100vh;
">
<style>

  .book_detail__button{
      margin-bottom: 50px;
      column-width: auto;
  }


</style>

<div style="
color: rgba(84,96,27,0.9);
">
<div class="container">
    <button type="button" class="btn btn-secondary book_detail__button"> <a href="/book/{{ book.id }}/update/">Update {{ book.title }}</a> </button>
    <button type="button" class="btn btn-secondary book__button"> <a href="/book/{{ book.id }}/delete/">Delete {{ book.title }}</a></button>
    <button type="button" class="btn btn-secondary book__button"><a href="/add-book/">add new book</a> </button>


</div>
    <img src="{{book.image.url}}" alt="">
    <h2>{{book.title}}</h2>
    <p>DESCRIPTION:{{book.description}} </p>
    <p>GENRE:{{book.genre }}</p>
    <h4>AUTHOR:{{book.author}}</h4>
    <p>{{book.create_date}}</p>
    <p>{{book.update_date}}</p>
{#    <a href="/add-book/">add new book</a>#}
{#    <a href="/book/{{ book.id }}/update/">Update {{ book.title }}</a>#}
{#    <a href="/book/{{ book.id }}/delete/">Delete {{ book.title }}</a>#}
</div>

<div>
    <ul>   {% for i in book.book_comment.all %}
        <li>
            <p>{{ i.text }}</p>
        </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>
